In [11]:
import pandas as pd
import numpy  as np
from sklearn.preprocessing import MinMaxScaler

In [3]:
movies = pd.read_csv('movies.dat',  delimiter ='::' ,encoding='latin1', header = None)
movies.columns = ['MovieID','Title','Genres']
movies.head()

C:\Users\harsh\AppData\Local\Temp\ipykernel_120876\3735880562.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv('movies.dat',  delimiter ='::' ,encoding='latin1', header = None)

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [4]:
ratings = pd.read_csv('ratings.dat',  delimiter ='::' ,encoding='latin1', header = None)
ratings.columns = ['UserID','MovieID','Rating','Timestamp']
ratings.head()

C:\Users\harsh\AppData\Local\Temp\ipykernel_120876\3881886488.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv('ratings.dat',  delimiter ='::' ,encoding='latin1', header = None)

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [5]:
merged_df = pd.merge(movies, ratings, on ='MovieID', how='inner')
merged_df.head()

,MovieID,Title,Genres,UserID,Rating,Timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474

3. What do you mean by Singular Value Decomposition

4. Explain content-based vs collaborative recommendation

In [22]:
ratings= merged_df.pivot_table(index='MovieID', columns='UserID', values='Rating' ,fill_value=0)
ratings.shape

(3706, 6040)

In [27]:
ratings.fillna(ratings.mean(), inplace=True)


scaler = MinMaxScaler()
ratings_normalized = pd.DataFrame(scaler.fit_transform(ratings.values), 
                                        index=ratings.index, 
                                        columns=ratings.columns)

ratings_normalized.fillna(0, inplace=True)

In [28]:
ratings.fillna(0, inplace=True)

# Perform SVD to get U, S and V.

In [65]:
print(ratings_normalized)

UserID   1     2     3     4     5     6     7     8     9     10    ...  \
MovieID                                                              ...
1         1.0   0.0   0.0   0.0   0.0   0.8   0.0   0.8   1.0   1.0  ...
2         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0  ...
3         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
4         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.6   0.0   0.0  ...
5         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
3948      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.6   0.8  ...
3949      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
3950      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
3951      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
3952      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

UserID   6031  6032  6033  6034  6035  6036  6037  6038  6039  6040
MovieID
1         0.0   0.8   0.0   0.0   0.8   0.0   0.0   0.0   0.0   0.6
2         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.2   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.4   0.4   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.2   0.0   0.0   0.0   0.0   0.0
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
3948      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3949      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3950      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3951      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3952      0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[3706 rows x 6040 columns]